n=grep
v=2.21
u=ftp://ftp.gnu.org/gnu/$n/$n-$v.tar.xz

build() {
    ./configure --prefix=/usr \
                --disable-perl-regexp
    make
    make DESTDIR=$pkg install

    rm -f $pkg/usr/share/info/dir
}